@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 text-sm tracking-widest text-gray-500 uppercase transition-all border border-transparent rounded-full hover:border-blue-500/40 hover:text-blue-500/40;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-blue-900/40 focus:text-blue-300/40 hover:border-blue-900/50;
  }
  .pillbadge {
    @apply text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full;
  }

  .darkenImg::after {
    box-shadow: inset 0px 0px 20px 9px #000000;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 9999px;
  }
}
